@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.sideNav {
  background-color: white !important;
}

.footer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  
}
/* this is for making the side navbar 100% */
.ant-layout-sider-children {
  height:100vh !important;
}

.inner-card, .add-card {
  margin:1.5rem;
}
.add-card .card-body{
 padding:.5rem;
}

.add-card:hover {
  background-color: #e6525e;
  color:white;
}

.inner-card span {
  color: #e6525e;
  font-size:1.2rem;
  font-family: 'Permanent Marker', cursive;
}

.adventure span, .listTitle  {
  color: #e6525e;
  font-family: 'Permanent Marker', cursive;
}


.completed {
  color: #e6525e;
  font-family: 'Permanent Marker', cursive;
}

.header-preview {
 margin-left:13rem;
 margin-top: 4rem;
}

.outer-board {
  margin: 1rem 1rem 0 1.5rem ;
}

/* .outer-board:empty {
  display: none; 
} */

.outer-board:nth-child(2):empty {
 display: none;
  /* color:red; */
  }



.outer-board-header {
  display: flex !important;
  justify-content: space-between;
}

.board-form {
  display:flex !important;
  flex-direction: column;
  justify-content: center;
  margin:0 1rem 0 .3rem ;
}

.board-form form {
  display:flex !important;
  flex-direction: column;

}
.board-form .btn {
  margin-top:.5rem;
  align-self: flex-end !important;
}

.board-entry {
  display:flex !important;
  justify-content: space-between;
}

.item-form {
  display: flex !important;
  flex-direction: column;
}

.item-form .form-control {
 margin:.5rem 0;
}
.add-card-btn {
  align-self: flex-end !important;
  width:10rem !important;
}

.modal-button {
  align-self: flex-end !important;
  font-size:.875rem;
  padding:.25rem .5rem;
  margin: 0 1rem 1rem;
  width:10rem !important;
}

.memory {
  background-color: #e6525e!important;
  color:white;
}

.memory-button {
  background-color:  #e6525e; 
  border: none;
  color: white;
  margin:1rem;
  padding: .5rem;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.memory-button:hover {
  background-color:  #dadada; 
  color:black;
}

.btn {
  background-color:  #e6525e; 
  color:white;
  border:none;
}

.btn:hover {
  background-color:  #d11c2b; 
}

.form-check-input {
  background-color:  #d11c2b; 
}

.footer {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin:0;
  padding: 0;
  font-size: .7rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listTitle {
  margin-left: auto;
  margin-right: auto;
}